<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.kakeibo.infrastructure.ExpenseMapper">

    <insert id="insert">
        insert into expenses (
            id,
            entry_date,
            amount,
            category_id,
            memo,
            created_at,
            updated_at
        ) values (
            #{id},
            #{entryDate},
            #{amount},
            #{categoryId},
            #{memo},
            current_timestamp,
            current_timestamp
        )
    </insert>

    <select id="findForListByEntryDateRange" resultType="com.example.kakeibo.infrastructure.ExpenseRecord">
        select
            e.id,
            e.entry_date,
            e.amount,
            c.name as category_name,
            e.memo
        from expenses e
        inner join categories c
            on e.category_id = c.id
        where e.entry_date >= #{startDate}
          and e.entry_date &lt; #{endDate}
        order by e.entry_date, e.created_at
    </select>

</mapper>
